/*! fundo ilustrativo */
body{
    background-image: url(../assets/fundoIlustrativo.png);
}
/*! estilo do modal */
/* conteiner do modal */
<<<<<<<< HEAD:public/css/modal_sangria.css
.sangria_container{
========
.mudar-status-container{
>>>>>>>> modais-quartos:public/css/modal_mudar_status.css
    height: 100vh;
    backdrop-filter: blur(3px);
    display: flex; /*mudar aqui para o backend*/
    align-items: center;
    justify-content: center;
}
/* estilo da caixa do modal */
<<<<<<<< HEAD:public/css/modal_sangria.css
.modal-sangria{
    height: 25%;
========
.modal-status{
    height: 20%;
>>>>>>>> modais-quartos:public/css/modal_mudar_status.css
    width: 35%;
    background-color: var(--bg-light);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.349);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
<<<<<<<< HEAD:public/css/modal_sangria.css
/* título */
.modal-sangria h2{ 
    border-bottom: 2px solid var(--color-border2);
    padding-bottom: 1rem;
}
/* caixa de texto */
.modal-sangria label{
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 600;
}

.modal-sangria textarea{
    margin-top: 1rem;
    height: 23%;
    border: 2px solid var(--color-border2);
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 16px;
    resize: none;
}

.modal-sangria textarea:focus{
    outline: none;
    border: 2px solid var(--red-card);
}

/* botão de confirmar */

.btn-container-sangria{

========
/* estilo do conteúdo do modal */
/* header */
.modal-status-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-border2);
    padding-bottom: 1rem;
}
.status-exit{
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: var(--color-exit);
}
.status-exit:hover{
    transform: scale(1.2);
}
.status-exit:active{
    color: var(--color-active);
}
/* botões */
.btn-container-status{
    height: 70%;
>>>>>>>> modais-quartos:public/css/modal_mudar_status.css
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<<< HEAD:public/css/modal_sangria.css
    height: 45%;
    gap: 3.6rem;
}

.btn-container-sangria button{
    margin-top: 1rem;
    width: 45%;
    padding: 0.9rem;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
.btn-sangria-cancelar{
    background-color: var(--grey-btn);
}
.btn-sangria-confirmar{
    background-color: var(--red-card);
}

.btn-sangria-cancelar:active{
    background-color: var(--grey-btn-active);
}
.btn-sangria-confirmar:active{
    background-color: var(--red-card2);
}
========
    gap:2rem;
    padding-top: 1rem;
}
.btn-disponivel, .btn-manutencao{
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.btn-disponivel{
    background-color: var(--stronger-green);
    color: white;
    padding: 1rem 2rem;
}
.btn-manutencao{
    background-color: var(--yellow-card);
    color:white;
    padding: 1rem 2rem;
}
.btn-disponivel:active, .btn-manutencao:active{
    transform: scale(0.95);
}
>>>>>>>> modais-quartos:public/css/modal_mudar_status.css
