/*! fundo ilustrativo */
body{
    background-image: url(../assets/fundoIlustrativo.png);
}
/*! estilo do modal */
/* conteiner do modal */
.abrir-caixa_container{
    height: 100vh;
    backdrop-filter: blur(3px);
    display: flex; /*mudar aqui para o backend*/
    align-items: center;
    justify-content: center;
}
/* estilo da caixa do modal */
.modal-abrir-caixa{
    height: 25%;
    width: 35%;
    background-color: var(--bg-light);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.349);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
/* título */
.modal-abrir-caixa h2{ 
    border-bottom: 2px solid var(--color-border2);
    padding-bottom: 1rem;
}
/* caixa de texto */
.modal-abrir-caixa label{
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 600;
}

.modal-abrir-caixa textarea{
    margin-top: 1rem;
    height: 23%;
    border: 2px solid var(--color-border2);
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 16px;
    resize: none;
}

.modal-abrir-caixa textarea:focus{
    outline: none;
    border: 2px solid var(--green-card);
}

/* botão de confirmar */

.btn-container-abrir-caixa{

    display: flex;
    align-items: end;
    justify-content: center;
    height: 45%;
    gap: 3.6rem;
}

.btn-container-abrir-caixa button{
    margin-top: 1rem;
    width: 45%;
    padding: 0.9rem;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
.btn-abrir-caixa-cancelar{
    background-color: var(--grey-btn);
}
.btn-abrir-caixa-confirmar{
    background-color: var(--stronger-green);
}

.btn-abrir-caixa-cancelar:active{
    background-color: var(--grey-btn-active);
}
.btn-abrir-caixa-confirmar:active{
    background-color: #849c6f;
}
