/*! fundo ilustrativo */
body{
    background-image: url(../assets/fundoIlustrativo.png);
}
/*! estilo do modal */
/* conteiner do modal */
.novo-hospede-container{
    height: 100vh;
    backdrop-filter: blur(3px);
    display: flex; /*mudar aqui para o backend*/
    align-items: center;
    justify-content: center;
}
/* estilo da caixa do modal */
.modal-novo-hospede{
    height: 70%;
    width: 30%;
    background-color: var(--bg-light);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.349);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
/* estilo do conteúdo do modal */
/* título */
.modal-novo-hospede h2{ 
    border-bottom: 2px solid var(--color-border2);
    padding-bottom: 1rem;
}
/* container dos inputs */
.novo-hospede-input-container{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    gap: 1rem;
}
.novo-hospede-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-right: 2rem;
}
.novo-hospede-input label{
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 500;
}
.required{
    color: rgb(187, 27, 27);
    font-size: 24px;
}
.novo-hospede-input input{
    margin-top: 0.5rem;
    height: 3rem;
    width: 100%;
    border: 1.5px solid var(--color-border3);
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 16px;
    background-color: var(--bg-light);
}
/* estilo dos botões */
.novo-hospede-btn-container{
    border: 1px solid orangered;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 20%;
}
.novo-hospede-btn-container button{
    margin-top: 1rem;
    width: 50%;
    padding: 0.9rem;
    background-color: var(--brown-btn);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}