/*! fundo ilustrativo */
body{
    background-image: url(../assets/fundoIlustrativo.png);
}
/*! estilo do modal */
/* conteiner do modal */
.manutencao-container{
    height: 100vh;
    backdrop-filter: blur(3px);
    display: flex; /*mudar aqui para o backend*/
    align-items: center;
    justify-content: center;
}
/* estilo da caixa do modal */
.modal-manutencao{
    height: 40%;
    width: 35%;
    background-color: var(--bg-light);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.349);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
/* estilo do conteúdo do modal */
/* título */
.modal-manutencao h2{ 
    border-bottom: 2px solid var(--color-border2);
    padding-bottom: 1rem;
}

/* caixa de texto */
.modal-manutencao label{
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 600;
}

.modal-manutencao textarea{
    margin-top: 1rem;
    height: 50%;
    border: 2px solid var(--color-border2);
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 16px;
    resize: none;
}

.modal-manutencao textarea:focus{
    outline: none;
    border: 2px solid var(--yellow-card);
}

/* botão de confirmar */

.btn-container-manutencao{
    display: flex;
    align-items: end;
    justify-content: center;
    height: 20%;
}

.btn-container-manutencao button{
    margin-top: 1rem;
    width: 50%;
    padding: 0.9rem;
    background-color: var(--yellow-card);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-container-manutencao button:active{
    background-color: var(--yellow-card2);
}