/*! Sidebar Fantasma (guia temporario) */ 
.sidebar {
    border: 1px solid red;
    width: 12.7vw;
    height: 100vh;
}
/*! Estilo da pagina de quartos */
/*geral*/
.app-container {
    display: flex;
    height: 100vh;
    background-color: var(--bg-light);
}
/*header*/
.header {
    display: flex;
    flex-direction: column;
    height: 10vh;
    margin-left: 2rem;
    margin-right: 2rem;
    border-bottom: 3px solid var(--color-border);
}
header h1 {
    color: var(--text-dark);
    padding-top: 2rem; 
    font-size: 28px;
}
/*legenda*/
.legenda {
    display: flex;
    gap: 20px;
    margin-top: 0.8rem;
    margin-left: 0.5rem;
}
.legenda-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: sans-serif;
    color: #334155;
    font-size: 14px;
}
.status {
    width: 16px;
    height: 16px;
    border-radius: 4px;
}
.disponivel { background-color: var(--green-card) } 
.ocupado    { background-color: var(--red-card) } 
.manutencao { background-color:var(--yellow-card) } 


main{
    width: 88.3vw;
}
/*cards de quartos*/
section.quartos-container {
    display: grid;
    margin-left: 2rem;
    margin-right: 2rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 1rem;
    column-gap: 1rem;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

article.card {
    height: 17vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    color: var(--bg-light);
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.199);
    transition: transform 0.2s ease-in-out;
}

.ocupado{
    background-color: var(--red-card);
}
.disponivel{
    background-color: var(--green-card);
}
.manutencao{
    background-color: var(--yellow-card);
}

.card-header{
    height: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    border-bottom: 1px solid var(--color-border);
    font-weight: 500;
}
.room-num{
    height: 40%;
    display: flex;
    align-items: center;
    margin: 0 1rem;
    border-bottom: 1px solid var(--color-border);
    font-size: 30px;
    font-weight: 700;
}
.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 1rem;
    margin-right: 1rem;
}
.guest-info{
    display: flex;
    align-items: center;

    font-weight: 500;
}
/*! Hovers */
article.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card-edit:hover {
    transform: scale(1.3);
}
.card-edit:active{
    color: var(--color-active);
}