<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipe e Acessos</title>
    <link rel="stylesheet" href="/public/css/equipe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="app-container">
        <aside class="sidebar"></aside>
        <main class="conteudo">
            <header class="cabecalho">
                <div class="titulo">
                    <h2>Equipe e Acessos</h2>
                    <p>Gerencie os funcionários e suas permissões</p>
                </div>

                <button class="btn-adicionar">
                    <i class="fa-solid fa-plus"></i>
                    Cadastrar Funcionário
                </button>
            </header>
            <section class="time">
                <article class="card">
                    <div class="avatar">
                        <img src="../../../public/Assets/icone_user.jpg" alt="">
                    </div>
                    <h3>Roberto Alves</h3>
                    <span class="email">roberto.alves@hotel.com</span>
                    <span class="cargo gerente">
                        <i class="fa-solid fa-shield"></i> Gerente
                    </span>

                    <div class="acoes">
                        <button class="btn-editar">Editar</button>
                        <button class="btn-inativar">Inativar</button>
                    </div>
                </article>

                <article class="card">
                    <div class="avatar">
                        <img src="../../../public/Assets/UsuarioPadrao.png" alt="">
                    </div>
                    <h3>Fernanda Costa</h3>
                    <span class="email">fernanda.costa@hotel.com</span>
                    <span class="cargo recepcionista">
                        <i class="fa-solid fa-user"></i> Recepcionista
                    </span>

                    <div class="acoes">
                        <button class="btn-editar">Editar</button>
                        <button class="btn-inativar">Inativar</button>
                    </div>
                </article>

                <article class="card">
                    <div class="avatar">
                        <img src="../../../public/Assets/UsuarioPadrao.png" alt="">
                    </div>
                    <h3>Roberto Alves</h3>
                    <span class="email">roberto.alves@hotel.com</span>
                    <span class="cargo gerente">
                        <i class="fa-solid fa-shield"></i> Gerente
                    </span>

                    <div class="acoes">
                        <button class="btn-editar">Editar</button>
                        <button class="btn-inativar">Inativar</button>
                    </div>
                </article>
                
                <article class="card">
                    <div class="avatar">
                        <img src="../../../public/Assets/UsuarioPadrao.png" alt="">
                    </div>
                    <h3>Roberto Alves</h3>
                    <span class="email">roberto.alves@hotel.com</span>
                    <span class="cargo gerente">
                        <i class="fa-solid fa-shield"></i> Gerente
                    </span>

                    <div class="acoes">
                        <button class="btn-editar">Editar</button>
                        <button class="btn-inativar">Inativar</button>
                    </div>
                </article>

                <article class="card">
                    <div class="avatar">
                        <img src="../../../public/Assets/UsuarioPadrao.png" alt="">
                    </div>
                    <h3>Roberto Alves</h3>
                    <span class="email">roberto.alves@hotel.com</span>
                    <span class="cargo gerente">
                        <i class="fa-solid fa-shield"></i> Gerente
                    </span>

                    <div class="acoes">
                        <button class="btn-editar">Editar</button>
                        <button class="btn-inativar">Inativar</button>
                    </div>
                </article>
            </section>
        </main>
    </div>

</body>
</html>