<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Reservas</title>
    <link rel="stylesheet" href="/public/css/mapa_reservas.css">
</head>
<body>
    <!-- Titulo, legenda da página e botão de adicionar reserva-->
    <header class="cabecalho">
        <div class="textos">
            <h1 class="titulo">Mapa de Reservas</h1>
            <div class="legenda">
                <div><span class="legenda-item pago"></span>Pago</div>
                <div><span class="legenda-item esperando"></span>Esperando Pagamento</div>
                <div><span class="legenda-item processando"></span>Processando Pagamento</div>
            </div>
        </div>

        <button class="btn-adicionar">+ Nova Reserva</button>
    </header>
</body>
</html>