<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/modal_mudar_status.css">
    <link rel="stylesheet" href="../../../public/css/index.css">
</head>
<body>
    <div class="mudar-status-container">
        <div class="modal-status">
            <div class="modal-status-header">
                <h2>Escolha o status do quarto: </h2>
                <div class="status-exit">X</div>
            </div>
            <div class="btn-container-status">
                <button>Disponível</button>
                <button>Manutenção</button>
            </div>
        </div>
    </div>
</body>
</html>