<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/index.css">
    <link rel="stylesheet" href="../../../public/css/modal_manutencao.css">
</head>
<body>
    <div class="manutencao-container">
        <div class="modal-manutencao">
            <h2>Quarto em Manutenção</h2>
            <label>Observações:</label>
            <textarea placeholder="Motivo pelo quarto estar em Manutenção"></textarea>
            <div class="btn-container-manutencao">
                <button>OK</button>
            </div>
        </div>
    </div>
</body>
</html>
